# Uncomment these types if you want even more clean repository. But be careful.
# It can make harm to an existing project source. Read explanations below.

# Node.js dependencies
node_modules/

# local config files - Font Awesome Kits for example
metric-chess.json

# Fairy-Stockfish build directory
temp_fairy/
